<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactoryPattern.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FactoryPattern.Test.Properties.Settings>
            <setting name="Factory3_BMW" serializeAs="String">
                <value>CSharpLib.FactoryPattern.Pluralsight_FactorySample.Factory3.BMWFactory</value>
            </setting>
            <setting name="Factory3_Mini" serializeAs="String">
                <value>CSharpLib.FactoryPattern.Pluralsight_FactorySample.Factory3.MiniCooperFactory</value>
            </setting>
            <setting name="Factory4_AutoFactory_BMW" serializeAs="String">
                <value>CSharpLib.FactoryPattern.Pluralsight_FactorySample.Factory4.Factory.BMWFactory</value>
            </setting>
            <setting name="Factory4_AutoFactory_Mini" serializeAs="String">
                <value>CSharpLib.FactoryPattern.Pluralsight_FactorySample.Factory4.Factory.MiniCooperFactory</value>
            </setting>
        </FactoryPattern.Test.Properties.Settings>
    </userSettings>
</configuration>